---
layout: default
---

<div class="home">

  <span style="display: inline-block; width:450px">
  	<p>Benthic Photo Survey (BPS) is an open source software tool for efficiently processing photo survey data. It was created to assist with the preparation of reference data (a.k.a. ground truth) for benthic habitat mapping from satellite imagery but it can be used in many photo survey applications.</p>
  	
  	For more information see:
  	<ul>
  	{% for page in site.pages %}
	  {% if page.title %}
	  	<li>
	  		<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
	  	</li>
	  {% endif %}
	{% endfor %}
  	</ul>
  	
  	<p>If you use BPS, please cite this paper:</p>
  	Kibele, J 2016 Benthic Photo Survey: Software for Geotagging, Depth-tagging, and Classifying Photos from Survey Data and Producing Shapefiles for Habitat Mapping in GIS. Journal of Open Research Software, 4: e10, DOI: http://dx.doi.org/10.5334/jors.104
  </span>
  <span style="display: inline-block; width:256px; float:right">
  	<img src="{{ site.baseurl }}/images/BPS_256x256.png">
  </span>

</div>
